

.container {
    max-width: 100%;
    margin: 40px auto;
    height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image:url('../Images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-container { 
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    color: #fff;
    background-color: #38323f;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
  
  h2 {
    margin-top: 0;
    font-weight: bold;
    color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .social-buttons {
    margin-top: 20px;
  }
  
  .social-buttons button {
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .social-buttons button:hover {
    background-color: #f0f0f0;
  }
  
  .social-buttons i {
    font-size: 24px;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }